<style>
    #container {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.browse-btn {
    padding: 15px 70px;
    border-radius: 12px; 
    background-color: #ffffff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
     color: black;
    text-decoration: none;
    border: 1px solid #ced4da;
    
}

.browse-btn:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    color: black;
}


    .image-placeholder {
        width: 80%;
        max-width: 600px;
        height: 350px;
        margin: 0 auto;
        background-color: #ccc;
        border: 2px solid #999;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #666;
        font-size: 20px;
    }
    
    body {
        background: #F4F4F4;
    }
    
</style>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" >
    <h1 class="display-4">Rent Anything, Anytime, Anywhere</h1>
    <div id="container">
    <a href="@Url.Action("Index", "Items")" class="browse-btn ">Browse Items</a>
    <a href="@Url.Action("Create", "Bookings")" class="browse-btn ">Rent an Item</a>
    <a href="@Url.Action("Create", "Reviews")" class="browse-btn">Write a Review</a>
    </div>
    <div class="image-placeholder"></div>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
